* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.bg-black {
  background-color: black;
}

.h-screen {
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: dimgray;
  width: 30%;
  min-width: 200px;
  height: 250px;
  opacity: 0.6;
  text-align: center;
}

.relative {
  position: relative;
}

.heart {
  font-size: 100px;
}
